.color-content{
  background: white;
}
.content-img{
  margin: 4%;
  margin-bottom: 0;
  text-align: center;
}
.content-img > img{
  margin: 0;
  width: 100%;
  display:block;
  float: left;
  text-align: center;
}
.first-icon {
  display: none;
}
.pink-icon{
  display: none;
}