.color-content{
  width: 100%;
  background: white;
}
.content-img{
  margin: 4%;
  margin-bottom: 0;
  text-align: center;
}
.content-img > img{
  margin: 0;
  display:block;
  float: left;
  text-align: center;
}
.last{
  position: relative;
}
.first-icon{
  position: absolute;
}
.pink-icon{
  position: relative;
}