.color-footer{
  background: $color-footer;
  width: 100%;
}
.footer{
  margin: 0 auto;
  text-align: center;
}
h2{
  padding: 3%;
  font-weight: bold;
}
.mail {
  color: #5db5b8;
}
.social-media a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 5%;
  margin: 0 auto;
}
.social-media {
  margin: 2%;
}
