.header img{
float: left;
}
.menu{
  float: right;
}
.header-content{
  margin-top: 10%;
  margin-bottom: 10%;
}
h1 {
  font-size: 46px;
  margin-bottom:2%;
}
.p-img p{
  width: 70%;
  display: block;
}
.first-icon , .pink-icon{
  display: none;
} 
.header-content img {
  float: right; 
  display: inline-block;
}


